* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colores */
  --Bitcoin-Orange: #f7931a;
  --Soft-Orange: #ffe9d5;
  --Secondary-blue: #1a9af7;
  --Soft-blue: #e7f5ff;
  --Warm-Black: #201e1c;
  --Warm-Black-1: #282623;
  --Grey: #bababa;
  --Off-White: #f3f3f3;
  --Just-White: #ffffff;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--tittle--container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--tittle--container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--Just-White);
  line-height: 2.6rem;
}
.header--tittle--container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--Soft-Orange);
}
.header--tittle--container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--Off-White);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.375rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--Warm-Black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}
main {
  width: 100%;
  height: auto;
  background-color: var(--Off-White);
}
.main__exchange--container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main__exchange--container--tittle {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__exchange--container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__exchange--container h2 {
  margin-bottom: 15px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Warm-Black);
}
.main__exchange--container p {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #494949;
}
/* Tabla 1 */
.main__currency--tabble {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.main__currency--tabble .currency__tabble--tittle {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--Bitcoin-Orange);
  padding-right: 100px;
  margin-top: 50px;
}
.currency__tabble--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.currency__tabble--container table {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.16);
}
.currency__tabble--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: rgb(107, 107, 107);
  background-color: var(--Just-White);
  text-align: left;
  padding-left: 15px;
}
.currency__tabble--container .tabble__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
  text-align: center;
}
.currency__tabble--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency__tabble--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency__tabble--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 16px;
  background-color: var(--Soft-Orange);
  border-radius: 8px;
}
.currency__tabble--date p {
  margin: 7px;
  font-size: 1.2rem;
  line-height: 3rem;
  color: var(--Warm-Black);
  font-weight: 350;
}
/* Tabla 2 */
.second__currency--tabble {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.second__currency--tabble .second__currency__tabble--tittle {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--Secondary-blue);
  margin-left: 8px;
  padding-right: 100px;
}
.second__currency__tabble--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.second__currency__tabble--container table {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.16);
}
.second__currency__tabble--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: rgb(107, 107, 107);
  background-color: var(--Just-White);
  text-align: left;
  padding-left: 15px;
}
.second__currency__tabble--container .tabble__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
  padding-left: 0;
  text-align: center;
}
.second__currency__tabble--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.second__currency__tabble--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.second__currency__tabble--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 16px;
  background-color: var(--Soft-blue);
  border-radius: 8px;
}
.second__currency__tabble--date p {
  margin: 7px;
  font-size: 1.2rem;
  line-height: 3rem;
  color: var(--Warm-Black);
  font-weight: 350;
}
/* Section Arcticle 1 */
.main__product--detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--Warm-Black);
}
.product__detail--batata--logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url(./assets/icons/batata.svg);
  top: -10px;
  left: calc(50% - 20px);
}
.product__detail--tittle {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product__detail--tittle h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Just-White);
}
.product__detail--tittle p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #949494;
}
.product__detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--Warm-Black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("./assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product__card--tittle {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8px;
  color: var(--Just-White);
}
.product__card--body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #949494;
}
/* Section Arcticle 2 */
.product__detail--card--second {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--Warm-Black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__detail--card--second .eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("./assets/icons/eye.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product__card--tittle--second {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8px;
  color: var(--Just-White);
}
.product__card--body--second {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #949494;
}
/* Section Arcticle 3 */
.product__detail--card--third {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--Warm-Black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__detail--card--third .dollar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("./assets/icons/dollar-sign.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product__card--tittle--third {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8px;
  color: var(--Just-White);
}
.product__card--body--third {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #949494;
}
/* Section Arcticle 4 */
.product__detail--card--fourth {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--Warm-Black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__detail--card--fourth .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("./assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product__card--tittle--fourth {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8px;
  color: var(--Just-White);
}
.product__card--body--fourth {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #949494;
}
.bitcoin__img--container {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url(./assets/img/bitcoinbaby2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin__img--container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Just-White);
}
.main__plans--container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans__tittle {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans__tittle h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--Warm-Black);
}
.plans__tittle p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #474747;
}

/* Plan Basic */
.plans__container--basic {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  /* background-color: var(--Just-White); */
  background-color: #30333d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  padding-left: 30px;
  text-align: center;
}
.plan__card--tittle--basic {
  padding-top: 42px;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: var(--Just-White);
  margin-left: -20px;
}
.plan__card--price--basic {
  padding: 5px 0;
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 8.8rem;
  color: var(--Just-White);
}
.plan__card--price--basic .dollar {
  font-size: 1.7rem;
  font-weight: 300;
  vertical-align: 25px;
}
.plan__card--price--basic .month {
  font-size: 1.7rem;
}
.plan__card--saving--basic {
  font-size: 1.3rem;
  color: #c4c4c4;
}
.plan__card--ca--basic {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #f3f3f3;
  /* border: 2px solid var(--Bitcoin-Orange); */
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--Warm-Black);
  font-family: "DM Sans", sans-serif;
  border-style: none;
}
.plan__card--ca--basic span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}

/* Plan Recommended */
.plans__container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  /* background-color: var(--Just-White); */
  background-color: #30333d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  /* background-color: var(--Bitcoin-Orange);
  border-radius: 8px; */
  background: rgba(247, 147, 26, 0.85);
  box-shadow: 0 5px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--Just-White);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 6px;
}
.plan__card--tittle {
  padding-top: 35px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--Just-White);
}
.plan__card--price {
  padding: 5px 0;
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 9.3rem;
  color: var(--Just-White);
}
.plan__card--price span {
  font-size: 1.7rem;
  font-weight: 300;
  vertical-align: 25px;
}
.plan__card--saving {
  font-size: 1.3rem;
  color: #c4c4c4;
  margin-top: 10px;
}
.plan__card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #f3f3f3;
  /* border: 2px solid var(--Bitcoin-Orange); */
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--Warm-Black);
  font-family: "DM Sans", sans-serif;
  border-style: none;
}
.plan__card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}

/* Plan VIP */
.plans__container--vip {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 300px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: #30333d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  padding-left: 30px;
  text-align: center;
}
.plan__card--tittle--vip {
  padding-top: 42px;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.8rem;
  color: var(--Just-White);
  margin-left: -20px;
}
.plan__card--price--vip {
  padding: 5px 0;
  font-size: 6.5rem;
  font-weight: bold;
  line-height: 8.8rem;
  color: var(--Just-White);
}
.plan__card--price--vip .dollar {
  font-size: 1.7rem;
  font-weight: 300;
  vertical-align: 25px;
}
.plan__card--price--vip .month {
  font-size: 1.7rem;
}
.plan__card--saving--vip {
  font-size: 1.3rem;
  color: #c4c4c4;
}
.plan__card--ca--vip {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #f3f3f3;
  /* border: 2px solid var(--Bitcoin-Orange); */
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--Warm-Black);
  font-family: "DM Sans", sans-serif;
  border-style: none;
}
.plan__card--ca--vip span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}
.plans__container--slider {
  display: flex;
  gap: 12px;
  height: 380px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-top: -30px;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--Bitcoin-Orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--Just-White);
}
footer .right img {
  width: 100px;
  height: 100px;
}
